Repository SWM-snowWhite/SeekTam, pull requests merged in 2023-08, with the labels that each got.

#157 feat: 식품 비교 화면 기능 개발 [#159]
  client/src/.prettierrc.js
  client/src/components/FoodList.tsx
  client/src/components/modal/ComparisonModal.tsx
  client/src/components/modal/ComparisonViewModal.tsx
  client/src/components/modal/InfoModal.tsx
  client/src/index.tsx
  client/src/pages/FoodsDetail.tsx
  client/src/pages/Keyword.tsx
Labels: 📱 Client, ✨ Feature, 🖥️ Server, 📘 Task, ⏳ TODO

#164 fix: cors 관련 이슈 해결을 위한 요청 가능 url 목록 추가 [#162]
  backend/src/main/java/config/WebConfig.java
Labels: 🐞 Bug Fix, 📘 Task, ⏳ TODO, 📜 Infra

#167 fix: 검색화면 기능 및 파비콘 수정
  client/public/android-icon-144x144.png
  client/public/android-icon-192x192.png
  client/public/android-icon-36x36.png
  client/public/android-icon-48x48.png
  client/public/android-icon-72x72.png
  client/public/android-icon-96x96.png
  client/public/apple-icon-114x114.png
  client/public/apple-icon-120x120.png
  client/public/apple-icon-144x144.png
  client/public/apple-icon-152x152.png
  client/public/apple-icon-180x180.png
  client/public/apple-icon-57x57.png
  client/public/apple-icon-60x60.png
  client/public/apple-icon-72x72.png
  client/public/apple-icon-76x76.png
  client/public/apple-icon-precomposed.png
  client/public/apple-icon.png
  client/public/browserconfig.xml
  client/public/favicon-16x16.png
  client/public/favicon-32x32.png
  client/public/favicon-96x96.png
  client/public/favicon.ico
  client/public/index.html
  client/public/manifest.json
  client/public/ms-icon-144x144.png
  client/public/ms-icon-150x150.png
  client/public/ms-icon-310x310.png
  client/public/ms-icon-70x70.png
  client/src/components/KeywordComponent.tsx
  client/src/pages/Keyword.tsx
Labels: 📱 Client, 🔨Refactoring, 📘 Task, ⏳ TODO

#165 feat: spring batch와 spring scheduler를 이용한 영양성분DB 갱신 로직 개발[#165]
  backend/build.gradle
  backend/src/main/java/food/backend/BackendApplication.java
  backend/src/main/java/food/backend/batch/chunk/FoodDataApiReader.java
  backend/src/main/java/food/backend/batch/chunk/FoodDataApiWriter.java
  backend/src/main/java/food/backend/batch/config/WebClientConfig.java
  backend/src/main/java/food/backend/batch/dto/FoodNutritionDto.java
  backend/src/main/java/food/backend/batch/job/FetchFoodDataJob.java
  backend/src/main/java/food/backend/batch/scheduler/JobScheduler.java
  backend/src/main/java/food/backend/batch/service/FoodDataApiService.java
  backend/src/main/java/food/backend/batch/service/StoreFoodDataService.java
Labels: ✨ Feature, 🖥️ Server
